<p><%= t(:hello).capitalize %> <%= @resource.email %>!</p>

<p><%= t '.request_reset_link_msg' %></p>

<%
reset_password_url = "#{DeviseTokenAuth.default_password_reset_url}?reset_password_token=#{@token}&uid=#{@resource.uid}"
%>
<p><%= link_to t('.password_change_link'), reset_password_url.html_safe %></p>

<p><%= t '.ignore_mail_msg' %></p>
<p><%= t '.no_changes_msg' %></p>
